h1{
    grid-area: header;
    background-color: gray;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
}

nav{
    display: flex;
    gap: 10px;
    background-color: black;
}


main{
    grid-area: main;
    display: grid;
    background-color: darkgray;
    color: white;
    align-items: center;
    
}

aside{
    grid-area: main;
    display: flex;
    background-color: white;
    color: black;
    align-items: center;
    
}

footer{
    grid-area:footer;
    display: flex;
    background-color: gray;
    color: white;
    align-items: center;
    

}