
body{
    font-family:"roboto", sans-serif;

}

.top{
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    color: white;
    background-color: gray;
}

.album{
    margin:0;
    font-size: 2rem;
    font-weight: 700;
    color: white;
    background-color: gray;
}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    background-color: gray;
    padding: 0.5rem 1rem;
}


#hamburger{
    border: 0;
    color:white;
    background-color: gray;
}

#menu {
    display: none;
}

#menu.open{
    display: block;
}

#menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    padding: 0;
    margin: 0;
}

#menu li {
    margin: 0.5rem 0;
}

#menu a {
    color: white;
    text-decoration: none;
    font-family: 'Funnel Sans', sans-serif;
    font-size: 1.2rem;
}

#menu a:hover {
    color: yellow;
}

#togleBtn{
    padding: 0.5rem 1rem;
    background-color: gray;
    color:white;
    border: none;
    cursor: pointer;
}
  
#temples {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    padding: 2rem;
}


#temples section {
    background: gray;
    width: 400px;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    text-align: center;
}

#temples section h3 {
    margin-top: 0.5rem;
}

#temples img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border: 2px solid #333;
    box-shadow: 0 0 15px rgba(0,0,0,1);
    border-radius: 10px;
}


footer{
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    color:white;
    background-color: gray;
}