
body{
    font-family:"roboto", sans-serif;

}

.top{
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding: 0.5 1rem;
    color: white;
    background-color: gray;
}

.album{
    margin:0;
    font-size: 2rem;
    font-weight: 700;
    color: white;
    background-color: gray;
}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    background-color: gray;
    padding: 0.5rem 1rem;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

nav a {
    color: white;
    text-decoration: none;
    font-family: 'Funnel Sans', sans-serif;
    font-weight: 600;
    transition: transform 0.3s;
}

nav a:hover {
    transform: scale(1.2);
}

.pics {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
  
.pics h1 {
    grid-column: 1 / -1;
    text-align: center;
}
  
figure {
    margin: 0;
    text-align: center;
}
  
img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
  
figcaption {
    margin-top: 0.5rem;
    font-weight: bold;
}

footer{
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    color:white;
    background-color: gray;
}